
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<div class="card text-white bg-primary mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:white;">Toplam Personel Sayısı : @ViewBag.employeeCount</h5>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:white;">
            En Yüksek Maaşlı Personel: @ViewBag.maxSalaryEmployee
        </h5>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:white;">
            Toplam Şehir Sayısı: @ViewBag.totalCityCount
        </h5>
    </div>
</div>
<div class="card text-white bg-white mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:black;">
            Toplam Şehir Sayısı: @ViewBag.countSoftwareDepartment
        </h5>
    </div>
</div>
<div class="card text-white bg-warning mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:white;">
            Ortalama Personel Maaşı: @ViewBag.avgEmployeeSalary
        </h5>
    </div>
</div>
<div class="card text-white bg-info mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:white;">
            Adana veya Ankarada yaşayan toplam maaş: @ViewBag.cityAnkaraorAdanaSumSalary
        </h5>
    </div>
</div>
<div class="card text-white bg-light mb-3" style="width:100%;">
    <div class="card-body">
        <h5 class="card-title" style="color:black;">
            Adana veya Ankarada yaşayan Yazılımcı sayısı: @ViewBag.sumSalaryFromDepertment

        </h5>
    </div>
</div>


    