@model List<Casgem_Proje.Models.Entities.TblReference>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th> Adı Soyadı</th>
        <th> Unvan</th>
        <th> Açıklama</th>
        <th> Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ReferenceID</td>
    <td>@item.ReferenceNameSurname</td>
    <td>@item.ReferenceJob</td>
    <td>@item.ReferenceDescription</td>
    <td>@item.ReferenceCity</td>
    <td><a href="/Reference/DeleteReference/@item.ReferenceID" class="btn btn-outline-danger">Sil</a></td>
    <td><a href="/Reference/UpdateReference/@item.ReferenceID" class="btn btn-outline-secondary">Güncelle</a></td>
</tr>
    }
</table>
<a href="/Reference/AddReference/" class="btn btn-outline-primary">Yeni Referans Girişi</a>